*{
	user-select:none;
	-webkit-user-select:none;
	-mozuser-select:none;
	-us-user-select:none;
}
body {

	background:#f8f8f8;
	text-align:center;
	margin:5px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
	font-size:150%;
	height:10px;
	margin: 1px 1px 1px 1px;
	
	
}
#description{
	font-size:100%;
}

#session {
	padding:100px 0px 100px 0px;
}
button {
	background-color:#e7e7e7;
	display: inline-block;
	border:1px solid white;
	padding:8px 16px;
	border-radius:8px;
	color:grey;
    cursor: pointer;
    margin:0px 0px 10px 0px;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;

}
button:hover {
	    color:black;
	    border:1px solid gray;
		background-color:#e7e7e7;
}


input {
	width:250px;
	height:25px;
}


form {
	padding:10px ;

}


canvas {

	border:2px solid gray;
	border-radius:3px;
}



#currentSession {
	border:1px solid black;
	border-radius:3px;
	display:inline-block;
	padding:0px 4px 0px 4px;
}

#footer {
	clear:both;
	margin-bottom:0;
	padding-top:2px;
}
#colors{
	float:right;
}
#swatch{
	width:20px;
	height:20px;
	border:1px solid gray;
	border-radius:15px;
	display:inline-block;
	margin-left:10px;
}
.control{
	display: inline-block;
}
.color_control{
	display:inline-block;
	font-size:100%;
}
.swatch.active{
	border:2px solid gray;
}
#rad {
	float:left;

}
#save {
	float:left;
	margin-left:15px;

}
#clear {
	float:left;
	margin-left:15px;
}

.alert{
	width:150px;
	margin-left:15px;
	position:absolute;
}

